.art-video-player:is(.art-mini-progress-bar, .art-lock) .art-bottom .art-controls {
    transform: none;
    max-height: 0;
    margin-top: calc(-1 * var(--art-bottom-gap));
}

.art-video-player:is(.art-mini-progress-bar, .art-lock) .art-bottom .art-progress {
    transform: translateY(0);
}

.art-controls,
.art-controls .art-controls-left,
.art-controls .art-controls-right {
    height: initial;
    max-height: 150%;
}

.art-video-player .art-bottom .art-controls {
    flex-wrap: wrap;
    margin-top: 10px;
    transition-property: all;
}

.art-controls > * {
    margin-top: -10px;
}

.art-controls-right {
    margin-left: auto;
}

.art-controls-left > :first-of-type:after {
    left: 100%;
}

.art-controls-right > :last-of-type:after {
    left: 0%;
}

.notyf__toast {
    max-width: 700px;
}

.notyf__ripple {
    width: 850px;
}
